//at least 5 variables

//main colors
$bgClr: #ffa90a;
$bdrClr: #14212a;
$grdClr: #22506d;
$hdrClr: #ffc71f;
$paraFntClr: #142e3e;

//background image
$imgpath: "img/mapBackground.jpg";

//font
$fontFam: "Emilys Candy", cursive;

//screen sizes
$smScreen: "400px";
$mdScreen: "700px";
$lgScreen: "1000px";
